body {
  padding: 0;
  margin: 0;
  font-family: Sans;
}

/* Common */
h1, h2, h3, h4, h5, h6 {
  margin-left: 2rem;
}


/* Navigation */
nav {
  width: 100%;
  color: white;
  background-color: green;
  margin: 0;
  padding: 0 2.5%;
}

nav a, nav a:visited {
  color: white;
  display: inline-block;
  padding: 0.75rem 1rem;
  text-decoration: none;
  transition: 0.3s background-color;
}

nav a.active {
  background-color: darkgreen;
}

nav a:active, nav a:hover {
  color: black;
  background-color: forestgreen;
}

nav a.brand {
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 0.75em;
  padding: 0;
}

nav a.brand:active, nav a.brand:hover {
  color: inherit;
  background-color: inherit;
}


/* Page Content */

body > div > div.content {
  padding: 0 5%;
}
