/* Common */
body {
  padding: 0;
  margin: 0;
  font-family: Sans;
  font-size: 1rem;
  color: #1a1b25;
  background-color: white;
}



/* Forms */
label {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
label > div {
  width: 25%;
  text-align: right;
  font-weight: bold;
}

label > input {
  width: 33%;
  margin-left: 1em;
  line-height: 1.5;
  border: 1px solid #1a1b25;
  border-radius: 3px;
  padding: 0.25em 0.5em;
}

label > input:focus {
  outline: #197278 auto 2px;
}

button.primary {
  font-size: 1rem;
  color: white;
  background-color: #197278;
  padding: 0.5em;
  border: #1a1b25 solid 1px;
  border-radius: 5px;
  transition: 0.3s background-color;
  cursor: pointer;
}

button.primary:hover {
  background-color: #409197;
}

@media (max-width: 800px) {
  /* Larger Widths */
  label > div {
    width: 33%;
  }
  label > input {
    width: 50%;
  }
}

@media (max-width: 450px) {
  /* Labels Above Inputs */
  label {
    flex-direction: column;
  }
  label > div {
    width: 100%;
    text-align: left;
    padding-bottom: 0.25em;
  }
  label > input {
    width: 100%;
    margin-left: 0;
  }
}



/* Navigation Links */
/* Dark, almost full-width navbar */
nav {
  width: 95%;
  color: white;
  background-color: #1a1b25;
  margin: 0;
  padding: 0 2.5%;
  display: flex;
  height: 2.6875rem;
}

/* Centered, full-height nav links */
nav a, nav a:visited {
  color: white;
  display: inline-flex;
  align-items: center;
  padding: 0 1rem;
  text-decoration: none;
  transition: 0.3s background-color;
  height: 100%;
  position: relative;
}

/* Use a lighter background color for the current page's nav link. */
nav a.active {
  background-color: #383944;
}

/* Change the background color of the hovered/active nav item */
nav a:active, nav a:hover {
  background-color: #197278;
}

/* Show a highlight bar at the bottom of hovered/active nav item */
nav a span::after, nav a span::after {
  background-color: #d30c7b;
  content: '';
  width: 100%;
  height: 7.5%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s opacity;
  opacity: 0;
}
nav a:active span::after, nav a:hover span::after {
  opacity: 1;
}

nav a.brand {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.1rem;
  margin-right: 0.75em;
  padding: 0;
}

nav a.brand:active, nav a.brand:hover {
  color: inherit;
  background-color: inherit;
}



/* Page Content w/ Responsive Widths */
body > div > div.content {
  margin: 0 auto;
  padding-bottom: 1rem;
  max-width: 95%;
}

@media (min-width: 360px) {
  body > div > div.content {
    max-width: 90%;
  }
}

@media (min-width: 1400px) {
  body > div > div.content {
    max-width: 1250px;
  }
}
